body {
	font-family: Arial, sans-serif;
	margin:0;
	padding:0;
}

#instructions {
	width:100%;
	text-align:center;
}

a {
	text-decoration: none;
	color:#000;
}

a:hover {
	color:blue;
}

p {
	margin:20px;
	padding:0px;
}

.announce {
	font-size:700%;
	line-height:
	margin:0px;
	padding:0px;
	line-height:1em;
	width:100%;
	text-align:center;
}

#Jay {
	font-family: 'Molle', cursive;
}

#Fer {
	font-family: 'Wendy One', sans-serif;
}

#JJ {
	font-family: 'Keania One', cursive;
}
.dininghalls {
	margin-top:50px;
	list-style-type:none;
}

.hall {
	float:left;
	width: 33%;
}

.hall_info {
	text-align:center;
	border:3px solid #000;
	margin:5px;
	
}

.menu_item {
	text-align:left;
	font-size:120%;
	line-height: 1.5em;
}

.item {
	font-weight:bold;
	font-size: 150%;
}

#navbar {
	margin: 0;
	padding: 0;
	border:1px solid black;
	height:50px;
	background: #000;
}

.clearer {
	clear:both;
}

#navi {
	list-style-type:none;
	
}

#navi li {
	float: left;
	color: white;
	margin-right: 30px;
}

#navi li a{
	color:white;
}

#navi li a:hover {
	background:blue;
}

#title {
	font-size:120%;
	font-weight:bold;
}

.open_status {
	color:#76EE00;
}

.closed_status {
	color:red;
}

